body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#title {
  background-color: #ff4c68;
  color: #ffffff;
}
.container-fluid {
  padding: 7% 15%;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
h2 {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}
h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
p {
  color: #8f8f8f;
}
/* Navbar */
.navbar {
  padding-bottom: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Buttons */
.download-button {
  margin: 3% 5% 5% 0;
}

/* Title */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-box {
  margin: 7% 0;
}
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  left: 30%;
}

/* Feature Section */
#features {
  padding: 5% 15%;
  background-color: #ffffff;
  position: relative;
}
.feat-icon {
  padding-bottom: 1rem;
  color: #ef8172;
}
.feat-icon:hover {
  color: #ff4c68;
}
.feat-box {
  padding: 5%;
}
/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: #ffffff;
}
.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 3% 15% 7%;
}

/* CTA */
#cta {
  color: #ffffff;
  background-color: #ff4c68;
}
.cta-head {
  font-size: 2.5rem;
  font-weight: 900;
}

/* Footer */
#footer {
  background-color: #ffffff;
}
.social {
  padding: 20px 10px;
}
